/* Work.css */
.work-container {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.work-container h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.project-item {
  margin: 20px 0;
}

.project-item img {
  width: 100%;          /* Set the width to 100% of the parent container */
  max-width: 500px;     /* Limit the maximum width to 500px */
  height: auto;         /* Maintain aspect ratio */
  margin: 10px 0;       /* Add some space around the images */
  border-radius: 8px;   /* Optionally add rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional box shadow for style */
}

.project-description {
  font-size: 1.2em;
  color: #555;
  margin-top: 10px;
}

.project-item p {
  font-size: 1.1em;
  color: #333;
}
